:root {
  /* Grayscale Color Palette (User Provided) */
  --color-gray-1: #1b1a1a;
  --color-gray-2: #302c2c;
  --color-gray-3: #727070;
  --color-gray-4: #b8b6b6;
  --color-gray-5: #e5e3e3;
  --color-gray-6: #f5f4f4;



  --bg-color: var(--color-gray-6);
  --text-color: var(--color-gray-1);
  --sidebar-bg: var(--color-gray-5);
  --sidebar-border: var(--color-gray-4);
  --accent-color: var(--color-gray-2);
  --hover-bg: var(--color-gray-5);
  --active-bg: var(--color-gray-4);
  --secondary-text: var(--color-gray-2);
  --card-bg: var(--color-gray-5);
  --input-bg: var(--color-gray-6);
  --input-border: var(--color-gray-3);
  --transition-speed: 0.3s;
}

[data-theme='dark'] {
  --bg-color: var(--color-gray-1);
  --text-color: var(--color-gray-6);
  --sidebar-bg: var(--color-gray-2);
  --sidebar-border: var(--color-gray-3);
  --accent-color: var(--color-gray-5);
  --hover-bg: var(--color-gray-2);
  --active-bg: var(--color-gray-3);
  --secondary-text: var(--color-gray-4);
  --card-bg: var(--color-gray-2);
  --input-bg: var(--color-gray-1);
  --input-border: var(--color-gray-3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color var(--transition-speed), color var(--transition-speed);
}